.banner {
    background-image: url('../images/banner.png');
    background-size: cover;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 150px;
}
.banner-logo {
    position: absolute;
    right: 0;
    justify-content: center;
}
.banner-logo > div {
    color: #1D60A3;
    padding: 20px;
    justify-content: center;
}
.pager-sec {
    margin-top: 140px;
}
@media (max-width: 576px) {
    .banner {
        align-items: flex-start;
        height: 175px;
    }
    .banner-logo > div > img {
        align-items: flex-start;
        height: 100px;
    }
    .banner-logo > div.h1 {
        align-items: flex-start;
        font-size: 15px;
    }
    .pager-sec {
        margin-top: 0px;
    }
}
.copyright {
    font-weight: bold;
    background: #dd9933;
    position: absolute;
    bottom: 0px;
}

.staff-avatar {
    width: 253px;
    height: 393px;
}